{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <h1 class="text-2xl text-center mt-2 mb-5">Liste du personnel</h1>

    {# Tailwind table #}
            <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light">
                            <thead class="border-b font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Nom</th>
                                    <th scope="col" class="px-6 py-4">Prénom</th>
                                    <th scope="col" class="px-6 py-4">Titre</th>
                                    <th scope="col" class="px-6 py-4">Service</th>
                                    <th scope="col" class="px-6 py-4">Numéro de poste telephonique</th>
                                    <th scope="col" class="px-6 py-4">Email</th>
                                    <th scope="col" class="px-6 py-4">Statut</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th scope="col" class="px-6 py-4">Actions</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users|sort %}
                            {% if user.jobTitle == "Medecin" %}
                                <tr class="border-b dark:border-neutral-500 bg-sky-300">
                                    <td class="whitespace-nowrap px-6 py-4 font-medium">{{ user.name }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.firstName }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.jobTitle }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.service }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.phoneNumber }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.email }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.status }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td class="whitespace-nowrap px-6 py-4">
                                        {# {{ include('user/_delete_form.html.twig') }} #}
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                                            <button
                                            type="button"
                                            class="inline-block rounded bg-success px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
                                            Modifier
                                            </button>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                                {% else %}
                                    <tr>
                                        <td class="whitespace-nowrap px-6 py-4">Liste vide</td>
                                    </tr>
                                {% endfor %}
                                <tbody>
                                {% for user in users %}
                                {% if user.jobTitle == "Infirmiere" %}
                                <tr class="border-b dark:border-neutral-500 bg-amber-300">
                                    <td class="whitespace-nowrap px-6 py-4 font-medium">{{ user.name }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.firstName }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.jobTitle }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.service }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.phoneNumber }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.email }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ user.status }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td class="whitespace-nowrap px-6 py-4">
                                        {# {{ include('user/_delete_form.html.twig') }} #}
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                                            <button
                                            type="button"
                                            class="inline-block rounded bg-success px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
                                            Modifier
                                            </button>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                                {% else %}
                                    <tr>
                                        <td class="whitespace-nowrap px-6 py-4">Liste vide</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {# Tailwind table #}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="mt-5 mb-5 text-center">
            <a href="{{ path('app_user_new') }}">
                <button
                    type="button"
                    class="inline-block rounded bg-success px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
                    Ajouter un membre du personnel
                </button>
            </a>
        </div>
        {% endif %}
{% endblock %}
